<div class="homepage">
<div class="newsdiv">
    <div class="breaking-news">
        <span class="break-label UC">Top News</span>
        <span class="icn_bg"></span>
    </div>
    <div class="newsContent" *ngIf="marketNews!=null && marketNews.length!=0;else loading">
        <ng-container *ngFor="let news of marketNews.articles">
            <ul class="articlecontent list-group">
                <li class="list-group-item-imp">
                    <div class="ParentContent">
                        <div class="imagediv">
                            <div class="innerimagediv">
                                <img class="imagesize" [src]="news.urlToImage"
                                    onError="this.src='assets/img/brokenimage.png';">
                            </div>
                        </div>
                        <div class="contentdiv">
                            <div class="innercontentdiv">
                                <h5><a [href]="news.url" target="_blank">{{news.title}}</a></h5>
                                {{news.description}}<br>
                                <span style="font-style:italic;padding-top: 3%">Author:-{{news.author}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>
    <ng-template #loading>
        <div class="matspinner">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div style="color:#5680e9;font-style: italic;font-size: 20px">
                Loading your favourite news!!
        </div>
    </ng-template>
</div>
<div class="searchdiv">
<app-searchall></app-searchall>
</div>
</div>