

@media only screen and (min-width: 600px) {
    .newsdiv{
        margin-top: 2%;
        position: sticky;
        height: 49%;
        width: 54%;
    }
}

@media only screen and (max-width: 599px) {
.newsdiv{
    margin-top: 2%;
    height: 82%;
    width: 100%;
}
}



.newsContent{
    text-align: left;
    overflow-y: auto;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.articlecontent{
    padding: 10px;
}

.imagesize{
    width: 128px;
}

.imagediv{
   height: 50%;
}

.innerimagediv{
    padding: 22px;
}



.contentdiv{
    padding: 5px;
}

.innercontentdiv{
    padding: 5px;
}

.myNewsdiv{
    height: 10%
}

.max-line{
    text-overflow: ellipsis
}

.matspinner{
    padding-left: 42%;
    padding-top: 16%;
}


@media only screen and (min-width: 600px) {
    .ParentContent{
        display: flex
    }
}

.breaking-news .break-label{
    background-color: #005689;
    display: inline-block;
    font-size: 19px;
    color: #fff;
    font-family: 'Fira Sans',sans-serif;
    font-weight: 700;
    padding: 0 10px;
}

.breaking-news .icn_bg {
    background: url(//img-d02.moneycontrol.co.in/images/common/header/homepage-sprite.png?v=0.5) no-repeat;
    display: inline-block;
    width: 32px;
    height: 29px;
    vertical-align: top;
    margin-right: 5px;
}

.breaking-news{
    background-color: #005689;
    height: 29px;
    text-align: left;
}

.list-group-item-imp{
    position: relative;
    display: block;
    background-color: #fff;
}
.homepage{
    height: 700px;
    display: flex;
}
.searchdiv{
    margin-top:2%;
    padding-left: 10px;
    width:54%;
    height: 49%;
}